<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.sys.modular.system.mapper.CarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.sys.modular.system.entity.Car">
        <id column="car_id" property="carId" />
        <result column="car_num" property="carNum" />
        <result column="car_size" property="carSize" />
        <result column="car_type" property="carType" />
        <result column="car_status" property="carStatus" />
        <result column="car_buytime" property="carBuytime" />
        <result column="car_defaultdriver" property="carDefaultdriver" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        car_id AS "carId", car_num AS "carNum",  car_type AS "carType", car_status AS "carStatus", car_load as "carLoad",carrier_code AS "carrier_code",carrier_name as "carrier_name",rated_load as "rated_load",rated_volume as "rated_volume",car_speed as "car_speed",volume as "volume",permit_type as "permit_type",start_cost as "start_cost",park_cost as "park_cost",perkm_cost as "perkm_cost"
    </sql>

    <select id="getCars" resultType="map" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select
        <include refid="Base_Column_List"/>
        from info_car
        where 1 = 1
    </select>

    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from info_car
        <if test="condition != null and condition != ''">
            where car_num like CONCAT('%',#{condition},'%') or car_id like CONCAT('%',#{condition},'%')
        </if>
    </select>

    <insert id="saveCar" parameterType="cn.stylefeng.guns.sys.modular.system.entity.Car" >
       insert into info_car(car_num, car_load, car_status, car_type) values(#{carNum},#{carLoad},#{carStatus},#{carType})
    </insert>


</mapper>
